<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Venam - eCommerce HTML5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.png">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/animate.min.css">
        <link rel="stylesheet" href="static/css/magnific-popup.css">
        <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="static/css/jquery-ui.min.css">
        <link rel="stylesheet" href="static/css/flaticon.css">
        <link rel="stylesheet" href="static/css/odometer.css">
        <link rel="stylesheet" href="static/css/aos.css">
        <link rel="stylesheet" href="static/css/slick.css">
        <link rel="stylesheet" href="static/css/default.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/responsive.css">
    </head>
    <body>


        <!-- preloader  -->
        <div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="V" class="letters-loading">
                            V
                        </span>
                        <span data-text-preloader="E" class="letters-loading">
                            E
                        </span>
                        <span data-text-preloader="N" class="letters-loading">
                            N
                        </span>
                        <span data-text-preloader="A" class="letters-loading">
                            A
                        </span>
                        <span data-text-preloader="M" class="letters-loading">
                            M
                        </span>
                    </div>
                </div>
                <div class="loader">
                    <div class="row">
                        <div class="col-3 loader-section section-left">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-left">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-right">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-right">
                            <div class="bg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- preloader end -->


		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <header class="header-style-two header-style-three">

            <!-- header-top -->
            <div class="header-top-area">
                <div class="custom-container-two">
                    <div class="row">
                        <div class="col-md-8 col-sm-7"></div>
                        <div class="col-md-4 col-sm-5">
                            <div class="header-top-right" sec:authorize="!isAuthenticated()">
                                <ul>
                                    <li>
                                        <a href="/register"><i class="flaticon-user"></i>Register</a>
                                        <span>or</span>
                                        <a href="/login">Sign in</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-top-right" sec:authorize="isAuthenticated()">
                                <ul>
                                    <li>
                                        <a href="#"><i class="flaticon-user" ></i></a>
                                        <span sec:authentication="name"> </span>
                                        <a href="/logout">Log out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-top-end -->

            <!-- menu-area -->
            <div id="sticky-header" class="main-header menu-area">
                <div class="custom-container-two">
                    <div class="row">
                        <div class="col-12">
                            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                            <div class="menu-wrap">
                                <nav class="menu-nav show">
                                    <div class="logo">
                                        <a href="/index"><img src="img/logo/logo_red.png" alt="Logo"></a>
                                    </div>
                                    <div class="navbar-wrap main-menu d-none d-lg-flex">
                                        <ul class="navigation">
                                            <li><a href="/index">Home</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="pages.html">PAGES</a></li>
                                            <li><a href="blog.html">BLOG</a></li>
                                            <li><a href="/cart">CART</a></li>
                                            <li><a href="special.html">SPECIAL</a></li>
                                            <li><a href="contact.html">contacts</a></li>
                                        </ul>
                                    </div>
                                    <div class="header-action d-none d-md-block">
                                        <ul>
                                            <li class="header-shop-cart"><a href="/cart"><i class="flaticon-shopping-bag"></i></a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Mobile Menu  -->
                            <div class="mobile-menu">
                                <div class="menu-backdrop"></div>
                                <div class="close-btn"><i class="fas fa-times"></i></div>

                                <nav class="menu-box">
                                    <div class="nav-logo"><a href="/index"><img src="img/logo/white_logo.png" alt="" title=""></a>
                                    </div>
                                    <div class="menu-outer">
                                        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                                    </div>
                                    <div class="social-links">
                                        <ul class="clearfix">
                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                            <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- End Mobile Menu -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- menu-area-end -->

        </header>
        <!-- header-area-end -->

        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content text-center">
                                <h2>Registration</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/index">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Registration</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- my-account-area -->
            <section class="my-account-area pattern-bg pt-100 pb-100" data-background="img/bg/pattern_bg.jpg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-10">
                            <div class="login-page-title">
                                <h2 class="title"><span>Registration</span></h2>
                            </div>
                            <div class="my-account-bg" data-background="img/bg/my_account_bg.png">
                                <div class="my-account-content">
                                    <p>Welcome Venam Please Login Your <span>Account</span></p>
                                    <form action="/register" class="login-form" th:object="${user}" method="post">
                                        <div th:if="${errorLenPassword}">
                                            <div class="alert alert-danger">
                                                The minimum password length is 3 characters
                                            </div>
                                        </div>
                                        <div th:if="${errorConfPassword}">
                                            <div class="alert alert-danger">
                                                Passwords don't match!
                                            </div>
                                        </div>
                                        <div th:if="${errorAlreadyExistsUsername}">
                                            <div class="alert alert-danger">
                                                A user with this nickname already exists!
                                            </div>
                                        </div>
                                        <div th:if="${errorAnomaly}">
                                            <div class="alert alert-danger">
                                                Abnormal error
                                            </div>
                                        </div>
                                        <div class="form-grp">
                                            <label for="user">USERNAME <span>*</span></label>
                                            <input type="text" id="user" th:field="*{username}" required="true">
                                        </div>
                                        <div class="form-grp">
                                            <label for="password">PASSWORD <span>*</span></label>
                                            <input type="password" id="password" th:field="*{password}" required="true">
                                            <i class="far fa-eye"></i>
                                        </div>
                                        <div class="form-grp">
                                            <label for="password">PASSWORD CONFIRM <span>*</span></label>
                                            <input type="password" id="checkpassword" th:field="*{checkPassword}" required="true">
                                            <i class="far fa-eye"></i>
                                        </div>
                                        <div class="form-grp-btn">
                                            <button class="btn">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- my-account-area-end -->

        </main>
        <!-- main-area-end -->

        <!-- footer-area -->
        <footer class="footer-area">
            <div class="footer-top pt-65 pb-25">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-4 col-md-6">
                            <div class="footer-widget mb-50">
                                <div class="footer-logo mb-30">
                                    <a href="/index"><img src="img/logo/logo_black.png" alt=""></a>
                                </div>
                                <div class="footer-text mb-35">
                                    <p>Namkand sodales vel online best prices Amazon Check out ethnic wear, formal wear western wear
                                    Blood Pressure Rate Monito.</p>
                                </div>
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-50">
                                <div class="fw-title mb-35">
                                    <h5>Customer Service</h5>
                                </div>
                                <div class="fw-link">
                                    <ul>
                                        <li><a href="#">Help Center</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Product Recalls</a></li>
                                        <li><a href="#">Accessibility</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-50">
                                <div class="fw-title mb-35">
                                    <h5>Quick Links</h5>
                                </div>
                                <div class="fw-link">
                                    <ul>
                                        <li><a href="#">Return Policy</a></li>
                                        <li><a href="#">Terms Of Use</a></li>
                                        <li><a href="#">Security</a></li>
                                        <li><a href="#">Privacy</a></li>
                                        <li><a href="#">Store Pickup</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="footer-widget mb-50">
                                <div class="fw-title mb-35">
                                    <h5>Customer Service</h5>
                                </div>
                                <div class="footer-contact">
                                    <ul>
                                        <li><i class="fas fa-map-marker-alt"></i> W898 RTower Stat, Suite 56
                                            Brockland, CA 9622 United States</li>
                                        <li><i class="fas fa-headphones"></i> 458-965-3224</li>
                                        <li><i class="fas fa-envelope-open"></i>Support@info.Com</li>
                                        <li><i class="fas fa-fax"></i>458-965-3224</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-wrap copyright-style-two">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="copyright-text">
                                <p>Copyright © 2020 <a href="#">Venam</a> All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 d-none d-md-block">
                            <div class="payment-method-img text-right">
                                <img src="img/images/card_img.png" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->





		<!-- JS here -->
        <script src="static/js/vendor/jquery-3.5.0.min.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/isotope.pkgd.min.js"></script>
        <script src="static/js/imagesloaded.pkgd.min.js"></script>
        <script src="static/js/jquery.magnific-popup.min.js"></script>
        <script src="static/js/owl.carousel.min.js"></script>
        <script src="static/js/jquery.odometer.min.js"></script>
        <script src="static/js/jquery.countdown.min.js"></script>
        <script src="static/js/jquery.appear.js"></script>
        <script src="static/js/slick.min.js"></script>
        <script src="static/js/ajax-form.js"></script>
        <script src="static/js/wow.min.js"></script>
        <script src="static/js/aos.js"></script>
        <script src="static/js/plugins.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>
